<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>2MUY7KN5Y9</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>iOS Distribution: POSSIBLE Mobile</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.fr.test1</key>
        <string>testCLI</string>
    </dict>
</dict>
</plist>